body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.15rem;
  background: #f5f5f5;
}
ul,
li {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color:inherit;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
}
.cor-p1 {
  color: var(--cor-p1);
}
img[src$=".jpg"]{
  border-radius: 4px;
}